
/* @font-face {
    font-family: 'star';
    src: url('../fonts/star.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
/*    font-family: 'harry';*/
/*    src: url('../fonts/arabe.otf') format('opentype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
 h1, h2, h3, h4, h5, h6, .navbar-brand ,a {
    font-family: 'star', sans-serif;
}

body.eni-body {
    min-height: 100%;

}

body, p, label, th {
    font-family: 'star', sans-serif;
    font-size: 2rem;
}

.table-scrollable {
    display: block;
    max-height: 600px;
}

.table-scrollable tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.table-scrollable thead, .table-scrollable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-scrollable thead {
    background-color: #f8f9fa;
}

.form-row {
    display: flex;
    align-items: center;  /* Aligner verticalement les éléments au centre */
    gap: 15px;  /* Ajouter un espace entre les éléments */
}

.form-group {
    flex: 1; /* Assurez-vous que les éléments prennent toute la largeur disponible */
}

.form-group:last-child {
    flex: 0; /* Ne pas faire grandir le dernier élément (le bouton) */
}
/* Déplacer le bouton vers le bas */
.form-group button {
    margin-top: 40px;  /* Ajustez cette valeur selon votre besoin */
}

.hidden {
    display: none;
}
