
@font-face {
    font-family: 'dragonball';
    src: url('../fonts/DragonBall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arabe';
    src: url('../fonts/arabe.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, .navbar-brand ,a {
    font-family: 'dragonball', sans-serif;
}
p, label, th {
    font-family: 'arabe', sans-serif;
    font-size: 2rem;
}

.table-scrollable {
    display: block;
    max-height: 600px;
}

.table-scrollable tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.table-scrollable thead, .table-scrollable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-scrollable thead {
    background-color: #f8f9fa;
}