{#  this template bears the name of its corresponding class, Alert.
Do not change the name, else it won't work anymore #}

<div class="alert alert-{{ type }}">
    {{ this.message }}

    {# same as #}

    {{ message }}

</div>